home=https://mirrors.cloud.tencent.com/npm/
registry=https://mirrors.cloud.tencent.com/npm/
disturl=https://registry.npmmirror.com/-/binary/node/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
chromedriver_cdnbinariesurl=https://npmmirror.com/binaries
puppeteer-download-host=https://npmmirror.com/mirrors
phantomjs_cdnurl=https://npmmirror.com/dist/phantomjs
sass_binary_site=https://npmmirror.com/mirrors/node-sass
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
NVM_NODEJS_ORG_MIRROR=https://npmmirror.com/mirrors/node
CHROMEDRIVER_CDNURL=https://npmmirror.com/mirrors/chromedriver
OPERADRIVER=https://npmmirror.com/mirrors/operadriver
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
PYTHON_MIRROR=https://npmmirror.com/mirrors/python
strict-ssl=false
node-linker=hoisted
public-hoist-pattern=*
shamefully-hoist=true
auto-install-peers=true
strict-peer-dependencies=true
msvs_version=2022
